<%- include("common/header") %>

<main>
    <section id="main-header" class="py-5 text-center container bg-lightdark">
        <h1>404</h1>
    </section>

    <div class="py-4 bg-dark">
        <div class="container vh-50">
            <p class="text-center">We couldn't find what you're looking for :(</p>
        </div>
    </div>
</main>

<%- include("common/footer") %>