<%- include("common/header") %>

    <main>
        <section class="py-5 text-center container bg-lightdark">
            <h1>API</h1>
        </section>

        <div class="album py-4 bg-dark">
            <h2 class="text-center">Use our data!</h2>
            <div class="container vh-50">
                <p><a href="#">All public objects</a> <span class="badge badge-primary badge-pill">(num) in total</span></p>
                <p><a href="#">Example public object search</a> <span class="badge badge-primary badge-pill">search for "Jupiter"</span></p>
            </div>
        </div>
    </main>

    <%- include("common/footer") %>