<%- include("common/header") %>

    <main>
        <% if (message) { %>
            <div class="alert alert-success text-center fade show" role="alert">
                <%= message %>
                <script type="text/javascript">
                    setTimeout(e=> {$('.alert').alert('close');}, 4000);
                </script>
            </div>
        <% } %>
        
        <div class="py-5 text-center container bg-lightdark">
            <img id="main-logo" src="images/logoLight.png" alt="Skywatchers Logo">
        </div>

        <div class="album py-2 bg-dark">
            <h5 class="text-center">A place where you can track your observations and show the world what you've caputered.</h5>
            <h6 class="text-center">Build your Rank Score by publicly listing your discoveries, can you get to the Alien rank?</h6>
        </div>

        <div class="album py-3 bg-dark">
            <h2 class="text-center">Recently discovered objects</h2>
            <div class="container">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                        <!-- for each... index 0 would be slide_to=0, slide1, slide_to=1, slide2, etc... -->
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/defaultImage.png" class="d-block object-showcase" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <a href="./viewObject"><h5>(name)</h5></a>
                                <p>Discovered by (user)</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/defaultImage.png" class="d-block object-showcase" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <a href="./viewObject"><h5>(name)</h5></a>
                                <p>Discovered by (user)</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/defaultImage.png" class="d-block object-showcase" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <a href="./viewObject"><h5>(name)</h5></a>
                                <p>Discovered by (user)</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/defaultImage.png" class="d-block object-showcase" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <a href="./viewObject"><h5>(name)</h5></a>
                                <p>Discovered by (user)</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </main>

    <%- include("common/footer") %>