<%- include("common/header") %>

    <main>
        <div id="error-results" class="alert alert-danger text-center fade show" role="alert"></div>
        <% if (message) { %>
            <div class="alert alert-success text-center fade show" role="alert">
                <%= message %>
                <script type="text/javascript">
                    setTimeout(e=> {$('.alert').alert('close');}, 4000);
                </script>
            </div>
        <% } %>
        
        <section id="main-header" class="py-5 text-center container bg-lightdark">
            <h1>Login</h1>
        </section>
        
        <div class="py-4 bg-dark">
            <h2 class="text-center">Ready to continue your adventure?</h2>
            <div class="container">
                <form id="login-form" action="/login" method="post" autocomplete="off">
                    <div class="row justify-content-center">
                        <div class="col-md-4 bg-lightdark">
                            <div class="form-group mt-2">
                                <label for="username-input">Username</label>
                                <input id="username-input" class="form-control" name="username" required>
                            </div>
                            <div class="form-group mt-2">
                                <label for="password-input">Password</label>
                                <input type="password" id="password-input" class="form-control" name="password" required>
                            </div>
                            <div class="form-check my-3">
                                <label for="remember-input" class="form-check-label">Remember me</label>
                                <input type="checkbox" id="remember-input" class="form-check-input" name="rememberMe">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="entry-form col-md-4 bg-lightdark text-center">
                            <button class="w-100 mb-2 btn btn-lg btn-primary" onclick="handleValidation()" type="submit">Sign in</button>
                            <p><a class="text-decoration-none" href="/register">Create an account</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

<script src="/scripts/login-validation.js"></script>
<%- include("common/footer") %>