<%- include("common/header") %>

    <main>
        <section class="py-5 text-center container bg-lightdark">
            <h1>Statistics</h1>
        </section>

        <div class="py-4 bg-dark">
            <h2 class="text-center">(stuff about total objects, objects per type, most contributions by user)</h2>
            <div class="container">
                
            </div>
        </div>
    </main>

    <%- include("common/footer") %>