<%- include("common/header") %>

    <main>
        <section class="py-5 text-center container bg-lightdark">
            <h1>Profile Viewer</h1>
        </section>

        <div class="py-4 bg-dark">
            <h2 class="text-center">(name)</h2>
            
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-5">
                        <table class="table table-dark">
                            <thead>
                            </thead>
                            <tbody>
                              <tr>
                                <th>Bio</th>
                                <td>...</td>
                              </tr>
        
                              <tr>
                                <th>Rank and Rank Score</th>
                                <td>...</td>
                              </tr>
        
                              <tr>
                                <th>Last Active</th>
                                <td>...</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <h2 class="text-center">(name)'s statistics</h2>
        </div>
    </main>

    <%- include("common/footer") %>