<%- include("common/header") %>

    <main>
        <section id="main-header" class="py-5 text-center container bg-lightdark">
            <h1>Object Viewer</h1>
        </section>

        <div class="py-4 bg-dark">
            <h2 class="text-center">(name)</h2>
            <div class="container text-center">
                <img src="images/defaultImage.png" class="img-fluid text-center" alt="...">
            </div>
            
            <div class="container">
                <div class="row justify-content-center">
                    <div class="table-responsive col-6">
                        <table class="table table-dark">
                            <thead>
                            </thead>
                            <tbody>
                              <tr>
                                <th class="align-middle">Other Names</th>
                                <td class="align-middle">...</td>
                              </tr>
        
                              <tr>
                                <th class="align-middle">Type</th>
                                <td class="align-middle">...</td>
                              </tr>
        
                              <tr>
                                <th class="align-middle">Description</th>
                                <td class="align-middle">...</td>
                              </tr>

                              <tr>
                                <th class="align-middle">Apparent Magnitude</th>
                                <td class="align-middle">...</td>
                              </tr>

                              <tr>
                                <th class="align-middle">Last Updated</th>
                                <td class="align-middle">...</td>
                              </tr>
                            </tbody>
                        </table>
                        <p>Discovered by <a href="./viewProfile">(user)</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("common/footer") %>