<footer class="text-muted py-4">
    <hr class="justify-content-center">
    <div class="container">
        <p class="float-end mb-1"><a href="#">Back to top</a></p>
        <p class="mb-1">This prototype is built on an edited version of the Album template from <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>.</p>
    </div>
</footer>

<script src="/scripts/bootstrap.bundle.min.js"></script>
<script src="/scripts/jquery-3.6.0.min.js"></script>
<script>
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>