<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png">
    <title>Skywatchers - Document the Cosmos</title>

    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <a class="navbar-brand" href="/">Skywatchers</a>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/database">Object Database</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/statistics">Object Statistics</a>
                    </li>
                    <% if (user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/object/add">Add Object</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/my-objects">Your Objects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/statistics">Your Statistics</a>
                    </li>
                    <% } %>
                </ul>
                
                <ul class="navbar-nav ms-auto">
                    <% if (user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/view/<%= user.username %>">Your Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <% } else if (!user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
