:root {
    color-scheme: dark;
}

body{
    background-color: #212529
}

p, h1, h2, h3, h4, h5, h6{
    color: #d3d3d3;
}

a, label{
    color: #ffffff;
}

main{
    background-color: #31373d;
}

.bg-lightdark{
    background-color: #31373d;
}

h2{
    margin-bottom: 15px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

.nav-item{
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-brand{
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 0;
}

#main-logo{
    width: 30%;
}

.card-body{
    padding-top: 5px;
}

.card-title{
    margin-bottom: 5px;
}

.object-showcase{
    width: 30%;
    margin: auto;
}

.carousel-caption{
    position: relative;
    left: auto;
    right: auto;
}

hr{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

.search-area{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-item{
    width: 40%;
}

.alert{
    position: absolute;
    width: 100%;
}

.user-rank{
    margin-right: 5px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

@media screen and (max-width: 768px) {
    .carousel-indicators {
        bottom: -50px;
    }
}